@media (min-width: 1440px) {
    .container-xxl,
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1440px !important;
    }
}

.block__title {
    margin: 0;
    padding: 0;
    font-family: 'PP Pangram Sans Compact';
    font-size: 32px;
    line-height: 120%;
    color: #1C131E;
}

.block__text {
    margin: 0;
    padding: 0;
    font-family: 'PP Pangram Sans Compact';
    font-size: 20px;
    line-height: 120%;
    color: #1C131E;
    &-small {
        margin: 0;
        padding: 0;
        font-family: 'PP Pangram Sans Compact';
        font-size: 18px;
        line-height: 120%;
        color: #1C131E;
    }
}

.block__img {
    max-width: 100%;
}

%block__items {
    list-style: none;
}

@media(max-width:576px) {
    .block {
        &__title {
            font-size: 22px;
        }
        &__text {
            &-small {
                font-size: 16px;
            }
            font-size: 16px;
        }
    }
}

@import "./blocks/*.scss";