.block-11 {
    padding: 120px 0;
    &__img {
        max-width: 100%;
        min-height: 135px;
        object-fit: none;
    }
    &__text {
        max-width: 330px;
        font-family: 'PP Pangram Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
        text-align: center;
    }
    &__title {
        margin-bottom: 80px;
        text-align: center;
    }
}

.block-11 .col-lg-4 {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}

@media (max-width:767.99px) {
    .block-11 {
        padding: 80px 0 120px 0;
        &__title {
            margin-bottom: 10px;
        }
    }
    .block-11 .col-lg-4 {
        margin-bottom: 0;
    }
    .block-11__slider>.slick-dots {
        bottom: -30px;
    }
    .block-11__slider>.slick-dots li button::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 10px;
        height: 10px;
        background: #4281A4;
        border-radius: 50%;
        content: '';
        text-align: center;
    }
}