.block-5 {
    margin-top: 100px;
    margin-bottom: 120px;
    &__title {
        text-align: center;
    }
    &__item {
        @extend %block__items;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 340px;
        border-bottom: 1px solid #2C1E2F;
    }
    &__items {
        margin: 0;
        padding: 0;
    }
    &__img {
        max-width: 100%;
    }
}

.block-5__text {
    &-1 {
        font-weight: bold;
    }
    &-2 {
        margin: 10px 0;
        font-family: 'Stay Dreaming';
        font-size: 56px;
        line-height: 120%;
        color: #1C131E;
    }
    &-3 {
        margin-bottom: 10px;
        color: #BDBDBD;
    }
    &-4 {
        margin-bottom: 20px;
        max-width: 400px;
        font-size: 18px;
    }
}

.block-5__item {
    margin-top: 10px;
    line-height: 55px;
    &-1 {
        font-family: 'PP Pangram Sans';
        font-weight: 500;
        font-size: 18px;
    }
    &-2 {
        max-width: 180px;
        font-size: 18px;
    }
}

.block-5__slider {
    &-wrap {
        margin-top: 40px;
    }
}

.block-5__img {
    &-wrap {
        position: relative;
    }
    &-user {
        position: absolute;
        top: -91px;
        right: 21px;
    }
}

@media (max-width:1399.99px) {
    .block-5__img {
        &-user {
            top: -91px;
            right: -88px;
        }
    }
}

@media (max-width:1199.99px) {
    .block-5__img {
        &-user {
            top: unset;
            bottom: -88px;
        }
    }
}